<h3><%= @user.first_name %> <%= @user.last_name %></h3>
<p>BRL balance: 0.00</p>
<p>USD balance: 0.00</p>
<p>EUR balance: 0.00</p>
<br>
<%= link_to "Update profile", edit_user_registration_path, class: 'text-link' %>
<br>
<%= link_to "Log out", destroy_user_session_path, data: {turbo: false}, class: 'text-link' %>
<br>
<%= link_to "Back", :back, class: 'text-link' %>
<br>
<%= link_to "Home page", root_path, class: 'text-link' %>
<p>Unhappy? <%= button_to "Cancel my account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete %></p>