<div class="main-content">
    
    <div class="sign-up">
        <h1>Forex BR</h1>
        <% if user_signed_in? %>
            <%= link_to "My profile", user_profile_path, class: "btn-primary" %>
        <% elsif admin_signed_in? %>
            <%= link_to "Admin", admin_profile_path, class: "btn-primary" %>
        <% else %>
            <%= link_to "Sign up", new_user_registration_path, class: "btn-primary" %>
            <%= link_to "Log in", new_user_session_path, class: "text-link" %>
        <% end %>
        <h3>Currency calculator</h3>
    </div>
    
    <%= render 'calculator' %>
</div>